<footer class="site-footer site-footer-contact h-card">
  <section id="footer-contact-page">
    <data class="u-url" href="{% tl root %}"></data>

    <!-- <div class="wrapper"> -->
    <div class="container">
      <div class="footer-contact">
        <div class="contacts">
          <div class="contact-col">
            <p>{% t footer-contact.str1 %}</p>

            <div class="mail-footer">
              <span class="mail-footer"></span>
              <a
                class="mail"
                href="mailto:info@nordicsoft.ee"
                title="email"
                aria-label="email"
                >info@nordicsoft.ee</a
              >
            </div>
          </div>
          <div class="contact-col">
            <p>{% t footer-contact.str2 %}</p>
            <a href="/blablabla">{% t footer-contact.str3 %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
