<footer class="site-footer site-footer-contact h-card">
  <section id="footer-contact-page">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <!-- <div class="wrapper"> -->
    <div class="container">
      <div class="footer-contact">
        <div class="contacts">

          <div class="contact-col">
            <p>General Inquiries - </p>

            <div class="mail-footer"><span class="mail-footer"></span> <a class="mail" href="mailto:info@nordicsoft.ee"
                title="email" aria-label="email">info@nordicsoft.ee</a></div>
          </div>
          <div class="contact-col">
            <p>For career opportunities - </p>
            <a href="/blablabla">Check out company page</a>
          </div>
        </div>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
      <div class="disclaimer">
        <p>© 2021. NordicSoft OÜ (Reg. #14187539).<br>
          NordicSoft is EU registered trademark of NordicSoft OÜ.<br>
          All Rights Reserved.</p>
      </div>
    </div>
  </section>
</footer>