<header class="site-header">
  <div class="header">
    {%- assign default_paths = site.pages | map: "path" -%} {%- assign
    page_paths = site.header_pages | default: default_paths -%} {%- assign
    titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="logo" href="{% tl root %}">{{ site.title | escape }}</a>
    <div class="menu-toggle"
      onclick="document.querySelector('nav').classList.toggle('show'); document.querySelector('#menu-bar').classList.toggle('show'); document.querySelector('body').classList.toggle('fixed')">
      <label for="nav-trigger">

        <svg id="menu-bar" width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 0H0V3.50877H28V0Z" fill="black"/>
          <path d="M28 7.50876H0V11.0175H28V7.50876Z" fill="black"/>
          <path d="M28 15.0175H0V18.5263H28V15.0175Z" fill="black"/>
          </svg>
          
        <svg id="menu-cross" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.4643 24.8835L16.5809 14L27.4643 3.11651L24.8835 0.535645L14 11.4191L3.11651 0.535645L0.535645 3.11651L11.4191 14L0.535645 24.8835L3.11651 27.4643L14 16.5809L24.8835 27.4643L27.4643 24.8835Z" fill="#020113"/>
          </svg>
      </label>
    </div>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <div class="menu">
        <div class="menu-left">
          {% for page in site.pages %} {% if page.menu == true %}
          <a class="page-link" href="{{ site.baseurl }}{{ page.url }}">
            {% if site.lang == "et" %} {{page.titleet }} {% else %}
            {{page.titleen }} {% endif %}
          </a>
          {% endif %} {% endfor %}
        </div>
        <div class="menu-right">
          <div class="lang">
            <!-- {% if site.lang == "en" %} -->
            <a class="link-en link-lang active">En</a>
            <a class="link-et link-lang">Et</a>
            <!-- <a class="link-en link-lang active" href="#" id="lang-en">En</a>
            <a class="link-et link-lang" href="#" id="lang-et">Et</a>
            {% else %}
            <a class="link-en link-lang" href="#" id="lang-en">En</a>
            <a class="link-et link-lang active" href="#" id="lang-et">Et</a>
            {% endif %} -->
          </div>
          <div class="get-in-touch">
            <a class="get" href="{{ site.baseurl }}/contact">Get in touch</a>
          </div>
          <div class="disclime-header">
            © 2021. NordicSoft OÜ (Reg. #14187539). NordicSoft is EU registered
            trademark of NordicSoft OÜ. All Rights Reserved.
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  var enLang = document.querySelector("#lang-en");
  var etLang = document.body.querySelector("#lang-et");

  enLang.addEventListener("click", function (e) {
    e.preventDefault();
    var currentPath = window.location.pathname.includes("/et/")
      ? window.location.pathname.substr(4)
      : window.location.pathname;
    window.location.pathname = currentPath;
  });

  etLang.addEventListener("click", function (e) {
    e.preventDefault();
    var currentPath = window.location.pathname.includes("/et/")
      ? window.location.pathname.substr(4)
      : window.location.pathname;
    window.location.pathname = "/et" + currentPath;
  });
</script>