<header class="site-header">

  <div class="header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="logo" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <label for="nav-trigger">
      <div class="menu-toggle" onclick="document.querySelector('nav').classList.toggle('show')">
        <svg width="40" height="6" viewBox="0 0 40 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="1" fill="#06050D" />
          <rect y="5" width="40" height="1" fill="#06050D" />
        </svg>
      </div>
    </label>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <div class="menu">
        <div class="menu-left">
          {% for page in site.pages %}
          {% if page.menu  == true %}
          <a class="page-link" href="{{ site.baseurl }}{{ page.url }}">
            {{ page.title }} 
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="menu-right">
          <div class="lang">
            <a class="link-en link-lang" href="{% tl root en %}">EN</a>
            <a class="link-et link-lang" href="{% tl root et %}">ET</a>
          </div>
          <div class="get-in-touch">
            <a class="get" href="get">Get in touch</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>