@font-face {
  font-family: "Telegraf";
  src: url("fonts/TelegrafRegular400.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TelegrafBold";
  src: url("fonts/TelegrafUltraBold800.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot");
  src: url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.svg#Neue Montreal")
      format("svg");
}

body {
  overflow-x: hidden;
}

/**
 * Site header
 */
.header {
  width: 100%;
  max-width: 1241px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 100%;
  max-width: 1241px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.site-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  position: relative;
}

.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-transform: lowercase;

  @include media-query($on-palm) {
    padding-right: 45px;
    padding-left: 16px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.get-in-touch {
  text-decoration-line: underline;
}
.site-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #020113;
  display: flex;
  justify-content: center;
  max-width: 757px;
  width: 100%;
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border-radius: 5px;
  text-align: right;
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}
.menu-right {
  a {
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #020113;
  }
  width: 100%;
  max-width: 254px;
  display: flex;
  justify-content: end;
  div {
    padding: 0 24px;
  }
}
/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

// .footer-contact-container{
//   width: 100%;
//   max-width: 1240px;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

/**
 * site-footer

 */

.site-footer {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: unset;
    .footer-link {
      width: 100%;
      max-width: 70px;
      font-family: Neue Montreal;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #020113;
    }
  }
}

.nav-item {
  padding: 12px 40px;
  list-style: none;
}
/**
Footer
*/

.menu-footer {
  .mail-footer {
    padding: 12px 0 24px 0;
  }
  display: flex;
  justify-content: space-between;
  max-width: 437px;
  width: 100%;
  ul {
    margin: unset;
  }
  .footer-col:first-child {
    li {
      padding-left: unset;
    }
  }
  .footer-col:last-child {
    padding: 0 87px;

    max-width: 119px;
    a {
      font-family: Neue Montreal;
      font-size: 14px;
      line-height: 17px;
      color: #020113;
    }
  }
}
.disclaimer {
  p {
    padding-top: 108px;
    max-width: 391px;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: #7c7c7c;
  }
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  max-width: 436px;
  width: 100%;
}
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: unset;
}
.contacts {
  display: flex;
  justify-content: space-between;
  max-width: 436px;
  width: 100%;
}
.contact-col {
  p {
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 0px;
    color: #06050d;
  }
}

.contact-col {
  a {
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #7c7c7c;
    text-decoration-line: underline;
  }
}
/**
 * Page content
 */
.home {
  width: 100%;
  max-width: 1241px;
}
.h1home {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  h1 {
    margin-bottom: 0px;
    width: 1028px;
    left: 206px;
    top: 179px;

    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }
}
.about-us {
  padding: 40px 0;
  border-top: 8px solid;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .upwork-top p {
    font-family: TelegrafBold;
    font-weight: 900;
  }
  .description {
    max-width: 392px;
    font-family: Telegraf;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #7c7c7c;
  }
  .about-service {
    padding-right: 20px;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: right;
    color: #020113;
  }
}
.products {
  width: 100%;
  max-width: 1240px;
}
.projects .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.selected-projects {
  font-family: TelegrafBold;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height */

  text-transform: uppercase;

  color: #020113;
  margin: unset;
}
.row {
  width: 50%;
}
.sample-rectange {
  max-width: 442px;
  max-height: 562px;
  width: 100%;
  height: 100%;
  color: black;
}
.view-all {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  border-bottom: 1px solid #020113;
  padding-top: 120px;
  padding-bottom: 40px;
  svg {
    padding-left: 20px;
  }
}
#what-we-do {
  padding: 104px 0;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

/**
*Contact form
*/
#footer-contact-page {
  border-bottom: 1px solid $border-color-01;
  border-top: 1px solid $border-color-01;
  margin-left: 100px;
  margin-right: 100px;
  padding: 48px 0;
}
#contact-form {
  padding-top: 62px;
  padding-bottom: 184px;
  margin: 0 100px;
}

.start-conversation {
  padding: 96px 0 40px 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  .h2-text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #020113;
    margin-bottom: 0px;
  }
}
.contact-title {
  font-family: TelegrafBold;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-transform: uppercase;
  color: #06050d;
}
.form-group button {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  max-width: 712px;
  width: 100%;
  height: 49px;
  background: #06050d;
  color: #f5f5f5;
  align-items: center;
}
.form-group input {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  color: #06050d;
  max-width: 332px;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}
.form-col select {
  margin-bottom: 24px;
}
.form-col select {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  max-width: 332px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
  appearance: none;
}

/* (A2) DEFINE OUR OWN CUSTOM ARROW */
.form-col::after {
  content: "\26AB";
  margin-left: -15px;
}

/* (A3) POSITION CUSTOM ARROW */
.form-col {
  position: relative;
}
.form-group {
  max-width: 332px;
  width: 100%;
}
.contact-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-cols > div:first-child {
  max-width: 357px;
}
.form-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-col {
  width: 100%;
  max-width: 712px;
}
#footer-contact-page .disclaimer {
  display: none;
}
.form-col {
  max-width: 356px;
  width: 100%;
}
.contact-form > .form-group {
  max-width: unset;
}
.contact-form select {
  width: calc(100% - 15px);
}
.contact-form label {
  font-family: TelegrafBold;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-transform: uppercase;

  /* Nordicsoft / Main */

  color: #06050d;
}
.contact-form > div:last-child {
  display: flex;
  justify-content: center;
}
/**
*END Contact form
*/
.section-name {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  .h2-text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #020113;
    margin-bottom: 0px;
  }
}
.project-cols {
  display: flex;
  justify-content: space-between;
}
.project-cols:first-child {
  display: flex;
  justify-content: space-between;
}
.project-cols > div:first-child {
  padding-top: 166px;
}

.project-col {
  max-width: 620px;
}
.project {
  h2 {
    font-weight: 800;
  }
}
.what-we-do-links {
  margin: auto;
  padding-top: 47px;
  .links {
    width: 100%;
  }
  .link {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    max-width: 1028px;
    margin: auto;
    p {
      font-family: Neue Montreal;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 160%;
      /* identical to box height, or 58px */
      color: #020113;
    }
    a {
      font-family: Neue Montreal;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      /* or 38px */

      text-align: right;
      text-decoration-line: underline;

      color: #7c7c7c;
    }
  }
  .links:last-child {
    border-bottom: unset;
  }
}

#get-in-touch {
  padding-bottom: 155px;
  border-bottom: 1px solid #e8e8e8;
  a {
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    padding-top: 53px;
    color: #020113;
    padding-bottom: 185px;
  }
  p {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    color: #7c7c7c;
    padding-top: 133px;
    padding-bottom: 40px;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #020113;
  }
}
.projects-row {
  display: flex;
  justify-content: space-between;
}
.page-content {
  padding: 72px 0 12px;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1,
  h2,
  h3 {
    margin-top: $spacing-unit * 2;
  }
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      display: block;
      padding: $spacing-unit / 4;
      &:hover {
        border-color: $border-color-02;
      }
    }
  }
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

/**
*SERVICES
*/
#services .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#services > .container:first-child {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 64px;
}
#services > .container:nth-child(3) {
  padding-top: 40px;
  border-bottom: 1px solid #e0e0e0;
}
#services > .container:nth-child(4) > .container {
  max-width: 392px;
}
.step-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
  padding-top: 56px;
  padding-bottom: 115px;
}
.step-container .container {
  max-width: 392px;
  flex-wrap: wrap;
}
.h2-services {
  padding: 0 0 40px 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  .h2-text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #020113;
    margin-bottom: 0px;
  }
}

#services {
  padding-top: 66px;
}
.who-are-we p {
  padding-top: 180px;
  max-width: 500px;
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  color: #020113;
}
.h3-text {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 160%;
  /* or 58px */

  max-width: 500px;
  padding: 40px 0;
  color: #020113;
}
.step-title {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.step-title > p {
  margin-bottom: 32px;
}
.step-description {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 40px;
  /* or 29px */

  /* Nordicsoft/Description */

  color: #7c7c7c;
}
.step-number {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  padding-right: 40px;
  /* identical to box height */

  /* Nordicsoft / Main */

  color: #06050d;
}
.step-name {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;

  /* Nordicsoft / Main */

  color: #06050d;
}
.steps {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  color: #020113;
  margin-bottom: 17px;
}

.clients {
  background-color: #f5f5f5;
  padding-top: 104px;
  padding-bottom: 136px;
}
.h2-clients {
  padding: 0 0 40px 0;
  width: 100%;
  display: flex;
  align-items: center;
  .h2-text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #020113;
    margin-bottom: 0px;
  }
}
.clients .h3-text {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 48px;
}
.clients-testimonials {
  display: flex;
  justify-content: space-between;
  padding: 48px 110px;
}
.testimonial {
  .container {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .testimonial-description {
    max-width: 246px;
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    padding-left: 32px;
    padding-top: 10px;
  }
}
.client-title > p:first-child {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Nordicsoft / Main */

  color: #06050d;
}
.client-title > p:last-child {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  /* identical to box height, or 22px */

  /* Nordicsoft/Description */

  color: #7c7c7c;
}
$duration: 20s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: absolute;
  top: 282px;
  width: 100%;
  padding-left: 100%;
  .ticker__item {
    color: #020113;
  }
  .ticker {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    &__item {
      font-family: TelegrafBold;
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 76px;
      color: #06050d;
    }
  }
}
.social-links a{
  padding: 12px;
}
/**
 * Responsive
 */
@media screen and (max-width: $on-min-phone) {
  .container {
    max-width: 288px;
  }
  .h1home h1 {
    font-size: 35px;
    line-height: 42px;
  }

  .project-col {
    justify-content: center;
  }

  .about-us p {
    margin-bottom: 40px;
  }
  .about-us .description {
    text-align: unset;
  }
  .menu-footer .footer-col:last-child {
    padding: 87px 0;
  }
}
@media screen and (max-width: $on-phone) {
  .step-container {
    max-width: 300px;
  }
  .projects h1 {
    max-width: 170px;
    line-height: 40px;
  }
  .project-cols {
    justify-content: center;
  }
  .about-us p {
    margin-bottom: 40px;
  }
  .about-us .description {
    text-align: unset;
  }
  .project-cols > div:first-child {
    padding-top: 62px;
  }
  .container {
    max-width: 300px;
  }
  .ticker-wrap {
    width: unset;
  }
}
@media screen and (min-width: $on-phone) {
  .container {
    max-width: 540px;
  }
  .h1home h1 {
    font-size: 36px;
    line-height: 43px;
  }
}
@media screen and (max-width: $on-palm) {
  .menu-footer .footer-col:last-child {
    padding: 0 0px;
    max-width: 119px;
  }
  .social-links {
    padding-left: 50px;
  }
  .disclaimer p {
    padding-top: 50px;
  }
  .container {
    padding-left: unset;
    padding-right: unset;
  }
  .site-nav {
    width: unset;
  }
  // menu
  .menu-right div {
    padding: 5px 10px;
    line-height: 1.5;
  }
  .menu-right a {
    font-family: unset;
    text-decoration-line: unset;
  }
  .site-nav > .menu {
    display: block;
  }
  .menu-right {
    display: block;
    a {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .site-nav {
    top: -200px;
    transition: all 0.5s;
    width: 167px;
    // left: 299px;
    &.show {
      top: 57px;
      // background-color: unset;
    }
  }

  .page-link {
    border-bottom: 1px solid #e8e8e8;
  }
  #footer-contact-page {
    padding-bottom: 40px;
  }
  #footer-contact-page .disclaimer {
    display: flex;
    padding-top: 40px;
    p {
      padding-top: unset;
    }
  }
  .site-footer {
    padding-bottom: unset;
  }
  .menu-toggle {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 15px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }
  .nav-trigger {
    padding-right: 16px;
  }
  .start-conversation {
    padding: 16px 0 16px 0;
  }
  #contact-form {
    padding-top: 32px;
  }
  // menu
  .page-content > .container {
    margin-left: 16px;
  }
  #footer-contact-page {
    margin: 0 16px;
  }

  .project-cols svg {
    width: 100%;
  }
  .menu-footer {
    flex-wrap: wrap;
  }

  .project-cols {
    flex-wrap: wrap;
    display: flex;
  }
  .project-col {
    flex-wrap: wrap;
    display: flex;
  }
  .svg-project {
    max-width: 600px;
  }
  .link {
    flex-wrap: wrap;
    display: flex;
  }
  .what-we-do-links .link p {
    font-size: 32px;
  }
  #get-in-touch a {
    font-size: 42px;
    padding-bottom: 120px;
  }
  .contact-title {
    font-size: 56px;
    padding-bottom: 72px;
    margin-bottom: 0;
  }
  .contacts {
    flex-wrap: wrap;
  }
  #contact-form {
    margin: 0 5px;
    padding-bottom: 9px;
  }
  .menu-toggle {
    width: 40px;
    padding-right: 16px;
  }
  .contact-cols > div:first-child {
    display: flex;
    justify-content: center;
  }
  .contact-col {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
  }
  .contacts > .contact-col {
    padding-top: 20px;
  }
  #footer-contact-page {
    border-bottom: unset;
  }
  #services .container {
    display: flex;
    flex-wrap: wrap;
  }
  .who-are-we p {
    padding-top: 80px;
  }

  .clients-testimonials {
    flex-wrap: wrap;
    padding: unset;
    justify-content: center;
  }
  .testimonial .container {
    flex-wrap: wrap;
  }
  .step-container {
    padding-top: unset;
    padding-bottom: unset;
    .container {
      padding: 50px 0;
    }
  }
}
@media screen and (min-width: $on-palm) {
  .container {
    max-width: 720px;
  }
  // .step-container {
  //   max-width: 360px;
  // }
  .h1home h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: $on-laptop) {
  .container {
    max-width: 960px;
  }
  .h1home h1 {
    font-size: 50px;
    line-height: 64px;
  }
  .project-cols {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: $on-pc) {
  .project-cols {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: $on-pc) {
  .container {
    max-width: 1240px;
  }
  .h1home h1 {
    font-size: 64px;
    line-height: 77px;
  }
}

#team {
  border-bottom: 1px solid #e0e0e0;

  .gallery {
    padding: 252px 0 224px;
    display: flex;
    justify-content: space-between;

    .pic {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .pic1 {
      width: 25%;
      margin-top: 39px;
    }

    .pic2 {
      width: 16.6%;
      margin-top: 103px;
    }

    .pic3 {
      width: 25%;
    }

    .pic4 {
      width: 16.6%;
      margin-top: 177px;
    }

    .empty {
      width: 16.6%;
    }
  }

  .h2-team {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
  }

  .h2-text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #020113;
    margin-bottom: 0px;
  }

  .h3-text {
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .point-block {
    display: flex;
    align-items: center;
  }

  .wizard-block {
    padding: 104px 0 224px;

    .text-columns {
      display: flex;
      justify-content: space-between;

      .column {
        width: 100%;

        &:first-child {
          margin-right: 69px;
        }
        &:last-child {
          margin-left: 69px;
        }
      }

      p {
        margin-bottom: 40px;
        font-family: Neue Montreal;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 160%;
        color: #020113;
      }
    }

    .avatars {
      display: flex;
      justify-content: space-between;
      padding-top: 184px;

      .avatar {
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }

      .avatar1 {
        background-image: url("../../assets/images/avatar1.svg");
      }
      .avatar2 {
        background-image: url("../../assets/images/avatar2.svg");
      }
      .avatar3 {
        background-image: url("../../assets/images/avatar3.svg");
      }
      .avatar4 {
        background-image: url("../../assets/images/avatar4.svg");
      }
      .avatar5 {
        background-image: url("../../assets/images/avatar5.svg");
      }
      .avatar6 {
        background-image: url("../../assets/images/avatar6.svg");
      }
      .avatar7 {
        background-image: url("../../assets/images/avatar7.svg");
      }
      .avatar8 {
        background-image: url("../../assets/images/avatar8.svg");
      }
      .avatar9 {
        background-image: url("../../assets/images/avatar9.svg");
      }
    }
  }

  .benefits {
    background-color: #f5f5f5;
    padding: 108px 0 60px;

    .h2-team {
      padding-bottom: 38px;
      border: none;
    }

    .benefit-row {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #e0e0e0;

      .benefit {
        margin: 48px 122px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        p {
          font-family: Neue Montreal;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 160%;
          color: #06050d;
        }

        p.title {
          font-family: Neue Montreal;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 160%;
          color: #06050d;
          margin-bottom: 24px;
        }
      }
    }
    .gallery-benefit {
      padding-top: 74px;

      .gallery-row {
        display: flex;
        align-items: center;
        margin-bottom: 124px;

        .pic-block {
          margin: 0 16px;

          &:last-child {
            margin-right: 0;
          }

          &:first-child {
            margin-left: 0;
          }
        }

        .pic1,
        .pic6 {
          width: 42%;
        }

        .pic2,
        .pic5 {
          width: 25%;
        }

        .pic3,
        .pic4 {
          width: 33%;
        }
      }
    }
  }

  .in-touch {
    padding: 163px 0 224px;
    text-align: center;

    div {
      font-family: Neue Montreal;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      color: #7c7c7c;
      text-decoration: none;
    }

    .title {
      margin-bottom: 40px;
      font-family: Neue Montreal;
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 67px;
      color: #020113;
    }
  }
}
