--- layout: default ---
<section class="about-h1">
    <div class="container">
        <div class="h1home">
            <h1>
                We are a global creative design and technology agency powering big ideas and brands
            </h1>
        </div>
        <div class="about-us">
            <div class="upwork-top">
                <p>UPWORK - TOP RATED</p>
            </div>
            <div class="description">
                <p>
                    e-Commerce, blockchain, WEB DEVELOPMENT, UX/UI DEsign, API integrations, IT Services
                </p>
            </div>
            <div><a class="about-service" href="/about">About services</a></div>
        </div>
    </div>
</section>
<section class="projects">
    <div class="container">
        <h1 class="selected-projects">selected projects</h1>
        <div class="project">
            <svg width="448" height="562">
        <rect width="448" height="562" style="fill: rgb(0, 0, 0)" />
      </svg>
            <div class="project-name">
                <p>1/4</p>
                <h2>BZX</h2>
            </div>
            <p>platform for decentralized margin trading based on bzx protocol</p>
        </div>

        <div class="project">
            <svg width="604" height="420">
        <rect width="604" height="420" style="fill: rgb(0, 0, 0)" />
      </svg>
            <div class="project-name">
                <p>2/4</p>
                <h2>DEX.GURU</h2>
            </div>
            <p>platform for decentralized margin trading based on dex protocol</p>
        </div>

        <div class="project">
            <svg width="498" height="418">
        <rect width="498" height="418" style="fill: rgb(0, 0, 0)" />
      </svg>
            <div class="project-name">
                <p>3/4</p>
                <h2>MONFEX</h2>
            </div>
            <p>platform for decentralized margin trading based on dex protocol</p>
        </div>
        <div class="project">
            <svg width="538" height="457">
        <rect width="538" height="457" style="fill: rgb(0, 0, 0)" />
      </svg>
            <div class="project-name">
                <p>4/4</p>
                <h2>FULCRUM</h2>
            </div>
            <p>platform for decentralized margin trading based on dex protocol</p>
        </div>
        <div class="view-all">View all projects</div>
    </div>
</section>
<section id="what-we-do">
    <div class="container">
        <div class="section-name">
            <svg height="48" width="48">
        <circle cx="24" cy="24" r="12" fill="black" />
      </svg>
            <p class="h2-text">what we do</p>
        </div>
        <div class="what-we-do-links">
            <div class="links">
                <div class="link">
                    <p>Help businesses unleash their potential</p>
                    <a class="what-we-do-link" href="/know">Know about us</a>
                </div>
                <div class="link">
                    <p>Build transformative products and experiences</p>
                    <a class="what-we-do-link" href="/Build">See our work</a>
                </div>
                <div class="link">
                    <p>Work with people who are willing to learn</p>
                    <a class="what-we-do-link" href="/know">Work with us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="get-in-touch">
    <div class="container">
        <p>Work with people who are willing to learn</p>
    </div>
</section>